{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

<link rel="preload" href="{{ 'component-rte.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

{%- if section.settings.enable_quick_add -%}
  <link rel="stylesheet" href="{{ 'quick-add.css' | asset_url }}" media="print" onload="this.media='all'">
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  .product_variations{
    display: flex;
    margin-bottom: 16px;
  }
  .product_color{
    margin-right: 8px;
  }

  .product_color input{
    display: none;
  }

  .product_color_option{
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    border: 2px solid #D7D7D7;
  }

  {% assign colors = settings.product_color_schema | split: " " %}
  {% for color in colors %}
    {% assign item = color | split: ":" %}
    .product_color_option-{{ item[0]}}{
      background-color: {{ item[1] }}
    }
  {% endfor %}

  .product_color input:checked ~ .product_color_option{
    border: 2px solid #525B73;
  }
{%- endstyle -%}

<div class="section-{{ section.id }}-padding">
<div class="facets-vertical page-width">
<ul class="grid product-grid">
    {% for product in collections[section.settings.collection].products %}

    <li class="grid__item">
    {% render 'card-product',
        card_product: product,
        lazy_load: true,
        section_id: section.id,
        has_only_default_variant: false,
        show_quick_add: true
    %}
    </li>
    {% endfor %}
</ul>

<ul class="grid product-grid">
    {% for product in collections[section.settings.collection].products %}

    <li class="grid__item">
      <a href="{{ product.url }}">
        <img 
          loading="lazy"
          src="{{ product | image_url: width: 300 }}">
      </a>

      <h2>{{ product.title }}</h2>
      
      <div class="product_variations">
      {% for product_option in product.variants %}
          <label class="product_color">
            <input type="radio" id="{{ product_option.id  }}" name="color" data-price="{{product_option.price}}" data-img="{{product_option.image | image_url: width: 300}}">
            <span class="product_color_option product_color_option-{{product_option.title}}"></span>
          </label>
      {% endfor %}
      </div>
    
      <span class="product_price"> {{ product.price | money_with_currency }}</span>
    </li>
    {% endfor %}
</ul>
</div>
</div>

{%- javascript -%}
if(!customElements.get('grid-item')) {
    customElements.define('grid-item', class Product extends HTMLElement {
      constructor() {
        super();
        this.options = this.querySelectorAll("input[type='radio']");
        this.options.forEach( item => {
          item.addEventListener('click', function(){
            console.log( this.getAttribute('data-img'));
            console.log( this.parentNode.parentNode.parentNode.updateImage.bind(this) );
          })
        });
      }
    });
  }

const products = document.querySelectorAll("li.grid__item");

products.forEach( product => {
  let productOptions = product.querySelectorAll("input[type='radio']");
  productOptions.forEach( function( option ){
    option.addEventListener('click', function(){
      let image = this.getAttribute('data-img');
      let productImage = product.querySelector("img");
      productImage.src = image;
    });
  });
  
});

{%- endjavascript -%}

{% schema %}
{
  "name": "ProductsGrid",
  "tag": "section",
  "class": "pgrid",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_quick_buy.label"
    }
  ]
}
{% endschema %}